*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bg{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(13,110,253,1) 0%, rgba(12,31,88,1) 75%);
}

nav * {
    font-weight: bold;
    grid-column-gap: 0.8rem;
    color: #fff!important;
}

.nav-link:hover,
.nav-link.active{
    color:  #D4AF37!important;
}

.form-container{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(13,110,253,1) 0%, rgba(12,31,88,1) 75%);
    width: 28vw;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
}

.page-title{
    line-height: 1.5;
}

#submitBtn{
    margin-bottom: 1rem;
}

.cardHighlight{
    min-height: 100%;
}

.table{
    text-align: center!important;
}

.table th{
    color: #333!important;
    text-align: center;
}

.modal-body img{
    width: 100%;
    height: 24vh;
}

.result-data{
    font-weight: normal!important;
    font-size: 1rem!important;
}

.result-data.quantity{
    margin: 0 0.4rem;
}

.counter{
    margin: 0 0.4rem!important;
}

.modal-title{
    color: #333!important;
}

.product-img{
    width: 100%;
    height: 24vh;
}